				<h2>User info</h2>

				<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
				<table class="table">
					<tr>
						<td>
							<strong>name</strong>
						</td>
						<td>
							<%= user.name %>
						</td>
					</tr>
					<tr>
						<td>
							<strong>introduction</strong>
						</td>
						<td>
							<%= user.introduction %>
						</td>
					</tr>
					<tr>
						<td>
							<strong>follows</strong>
						</td>
						<td>
							<%= link_to user.following.count, following_user_path(user) %>
						</td>
					</tr>
					<tr>
						<td>
							<strong>followers</strong>
						</td>
						<td>
							<%=link_to user.followers.count, followers_user_path(user) %>
						</td>
					</tr>
				</table>
				<div class="row">
					<% if user.id == current_user.id %>
					<%= link_to edit_user_path(user), class: 'col-xs-12 btn btn-default' do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<% end %>
					<% else %>
					<% if current_user.following?(user) %>
					<%= link_to 'フォロー外す', relationship_path(user.id), class: 'col-xs-12 btn btn-default', method: :delete %>
					<% else %>
					<%= link_to 'フォローする', relationships_path(followed_id: user.id), class: 'col-xs-12 btn btn-default',  method: :post %>
					<% end %>
					<% end %>
				</div>

				<% if current_user != user %>
				<%= link_to 'chatを始める', chat_path(user.id)%>
				<% end %>


				<h2>New book</h2>
				<%= form_for(book) do |f| %>
				<div class="row">
					<h5>Title</h5>
					<%= f.text_field :title, class: "col-xs-12" %>
				</div>

				<div class="row">
					<h5>Body</h5>
					<%= f.text_field :body, class: "col-xs-12" %>
				</div>

				<div class="row">
					<%= f.submit 'Create Book', class: "col-xs-12 btn btn-primary" %>
				</div>
				<% end %>



