<div class="row">
	<div class="col-xs-3">
		<%= render 'users/info', book: Book.new, user: @user %>
	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tbody>
				<tr class="book_<%= @book.id %>">
					<%= render 'detail', book: @book, user: @user %>
				</tr>
			</tbody>
		</table>

		<h3>Comment</h3>
		<table class="comments">
			<tr class="comment_<%= @comment.id %>">
				<%= render 'books/book_comments', book: @book %>
			</tr>
		</table>

		<div class="errors"></div>

		<%= form_with model: [@book,@comment] do |f| %>
		<%= f.text_area :comment, size: "90x5" %>
		<%= f.submit "送信" %>
		<% end %>

	</div>
</div>
