			<%= render 'users/info', book: Book.new, user: @user %>

			<div class="col-xs-9">
				<h2>Book detail</h2>

				<table class="table">
					<tbody>
						<tr class="book_<%= @book.id %>">
							<%= render 'books/book', book: @book %>
						</tr>
					</tbody>
				</table>

				<h3>Comment</h3>
				<table class="comments">
							<%= render 'books/book_comments', book: @book %>
				</table>

				<% if @comment.errors.any? %>
				<div id="error_explanation">
					<h2><%= @comment.errors.count %>件のerrorが発生しました。</h2>
					<ul>
						<% @comment.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>

				<%= form_with model: [@book,@comment] do |f| %>
				<%= f.text_area :comment, size: "90x5" %>
				<%= f.submit "送信" %>
				<% end %>

			</div>
